gasstation/автозаправка.ipynb
gasstation/практика3.html
gasstation/практика3.ipynb
gasstation/сетка.ipynb
Война.docx
.vscode/PythonImportHelper-v2-Completion.json
.vscode/settings.json
smart-home/.vscode/PythonImportHelper-v2-Completion.json
smart-home/smart-home.code-workspace
Диаграмма без названия.drawio
